body {
    padding: 0;
    margin: 0;
    text-align: center;
    }

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    background: #1F2937;
    color: white;
    padding: 10px 250px 0px 500px;
    align-items: center;
}

.header-links {
    display: flex;
    margin-left: auto;
    padding: 0 100px;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    color: #E5E7EB;
}

.dooglogo img {
    display: flex;
    width: 120px;
    height: 120px;
    margin-right: auto;
}

.Main-Title {
    display: flex;
    background: #1F2937;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 70px;
    color: #f9faf8;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    color: #f9faf8;
}

.Description {
    display: flex;
    flex-basis:300px;
    flex-direction: column;
    text-align: left;
    margin-right: 150px;
}

.Main-Title button {
    width: 90px;
    display: flex;
    background: #3882f6;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    border: none;
}

.doogimage img {
    width: 250px;
    height: 300px;
    margin-right: auto;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.information {
    align-items: center;
}

.dooginfo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.dooginfo img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: solid #3882f6;
    border-radius: 10px;
}

.Quote {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    padding-top: 100px;
}

.Quote p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.Quote b {
    font-size: 36px;
    padding-right: 400px;
    text-align: right;
    padding-bottom: 100px;
    font-weight: bolder;
}

.sign-up {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
    margin: 30px 600px 30px 600px;
    border-radius: 10px;   
}

h3 {
    color: white;
    padding: 0;
    margin: 20px;
}

.sign-items {
    flex: 1;
}

.sign-text {
    text-align: left;
}

.sign-text p {
    color: white;
}

.sign-button button {
    color: white;
    border-color: white;
    border-radius: 10px;
    font-size: 25px;
    margin: 0px 50px;
    background-color:#3882f6;
    height: 50px;
    width: 150px;
    opacity: 70%;
}


